input {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  height: 20%;
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgb(218, 241, 230);
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #8ae8b8, #b8e8c8, #d8e8d8);
}
